@use 'variables' as *;

.right {
  flex: 1;
  min-width: 0;
  background: #f8f8f8;
  padding: 20px 32px;
}

.service-block > .nav-container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.service-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 24px 0;
}

.title-left {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.laptop-label {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.service-title h1 {
  font-weight: 700;
  margin-right: auto;
}

.service-button {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-flow: row nowrap;
  overflow: auto;
  gap: 20px;
  white-space: nowrap;
  align-items: center;
  margin: 20px 0;
}

.service-button button {
  background: transparent;
  border: none;
  color: #7e7e82;
}

.service-button > button:first-child {
  display: flex;
  background-color: white;
  border: 2px solid #b8ffec;
  border-radius: 8px;
  padding: 10px;
}

.grid-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
}

.service-content {
  flex: 1;
}

.text-hidden {
  display: none;
}

.text-hidden.show {
  display: inline;
}

/* скрываю кнопку */
#clickbutton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.image {
  width: 100%;
  max-width: 530px;
  height: auto;
}

/* Desktop */
@media (min-width: 1120px) {
  .service-block > .nav-container {
    display: none;
  }
}

/* Laptop */
@media (min-width: 768px) and (max-width: 1119px) {
  .service-block > .nav-container {
    display: flex;
  }

  .service-block .call {
    margin-left: auto;
  }

  .right {
    width: 100%;
  }

  .service-title h1 {
    margin-right: auto;
    margin-left: 12px;
  }

  .laptop-label {
    display: none;
  }

  .service-button {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;

    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .service-button::-webkit-scrollbar {
    display: none;
  }

  .service-button button {
    flex-shrink: 0;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .right {
    width: 100%;
  }

  .laptop-label {
    display: none;
  }

  .service-block .mobile-hidden {
    display: none;
  }

  .service-block .splitter,
  .service-block .repair,
  .service-block .check {
    display: block;
  }

  .service-block .splitter {
    margin-left: auto;
  }

  .service-button {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;

    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .service-button::-webkit-scrollbar {
    display: none;
  }

  .service-button button {
    flex-shrink: 0;
  }
}
