@use 'variables' as *;

/* Скрытые карточки */
.brands .btn.hidden {
  display: none;
}

#show-brands {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  margin: 20px 0;
}

.repair-title {
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  border-top: 1px solid #d9fff5;
  margin: 20px 0 20px;
}

.repair-title h1 {
  color: #7e7e82;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0;
}

.brands {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.brands button.btn {
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

/* Desktop */
@media (min-width: 1120px) {
  /* моб свайпер не виден/скрыт */
  .mobile-swiper.swiper {
    display: none;
  }
}

/* Laptop */
@media (min-width: 768px) and (max-width: 1119px) {
  /* моб свайпер не виден/скрыт */
  .mobile-swiper.swiper {
    display: none;
  }
}

/* Mobile */
@media (max-width: 767px) {
  /* скрываю кнопку */
  #show-brands {
    display: none;
  }

  /* скрываю сетки */
  div.brands {
    display: none;
  }

  .type {
    display: none;
  }

  .mobile-swiper .btn {
    width: 240px;
    height: 72px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 16px;
    box-sizing: border-box;
  }

  /* показываю свайпер */
  .mobile-swiper.swiper {
    display: block;
    padding-bottom: 30px; /* место для пагинации */
  }

  .swiper-wrapper .btn {
    width: 240px;
    display: flex;
  }

  /* блок пагинации */
  .swiper-pagination {
    position: static;
    margin-top: 16px;
    text-align: center;
  }
}
