@use 'variables' as *;

.type {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.type button {
  background-color: #ffffff;
  color: #7e7e82;
}

.type .btn {
  width: 240px;
  height: 160px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 16px;
}

.type .btn.hidden {
  display: none;
}

.type .btn button {
  padding: 0;
  background-color: transparent;
  color: #1b1c21;
  border: none;
}

.type .btn img {
  align-self: flex-end;
}

.top-panel th {
  color: #7e7e82;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0;
  text-align: left;
}

#show-devices-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: transparent;
  margin: 20px 0;
}

/* Mobile */
@media (max-width: 767px) {
  /* скрываю кнопку */
  #show-devices-btn {
    display: none;
  }

  /* скрываю сетки */
  .type .btn {
    display: none;
  }

  .mobile-swiper .btn button {
    padding: 0;
    background-color: transparent;
    color: #1b1c21;
    border: none;
  }
}
