@use 'variables' as *;


/* Desktop */
@media (min-width: 1120px) {

.left {
  width: 320px;
  height: 100vh;
  overflow: auto;
  box-shadow:
    16px 0px 52px 0px #0e185033,
    -2px 0px 4px 0px #454f7e05;
  background: #ffffff;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  transform: none;
}

.top-menu {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.top-menu img:last-child {
  margin-left: auto;
}

.nav-container {
  font-family: TT Lakes;
  font-size: 16px;
}

.nav-title {
  display: flex;
  gap: 15px;
  margin: 20px 0px 0px;
  align-items: center;
  color: #7e7e82;
}

.bottom-menu {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #1b1c21;
  background: none;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.contact-icons {
  display: flex;
  gap: 20px;
}

.phone {
  font-weight: 700;
  font-size: 26px;
}

.languages {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}

.languages button {
  border: none;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
}

.bottom-menu span {
  transition:
    transform 0,
    1s ease-in-out;
}

.bottom-menu span:hover {
  transform: scale(1.2);
}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1119px) {
.left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 320px;
    height: 100vh;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .left.left--open {
    transform: translateX(0);
  }
}

/* Mobile */
@media (max-width: 767px) {
  .swiper {
    display: none;
  }

  .left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 320px;
    height: 100vh;

    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .left.left--open {
    transform: translateX(0);
  }

}
