@use 'variables' as *;

.vat {
  width: 421px;
  padding: 20px 0;
}

#get-more {
  border: none;
  background-color: transparent;
  margin: 0 0 20px;
  font-weight: 700;
}

.policy {
  display: flex;
  justify-content: space-between;
  /*элементы по ширине*/

  list-style: none;
  padding: 0;
  margin: 0;
}

.policy li {
  flex: 1;
  /*flex: 1, когда 3 элемента в 1 строке, и надо задать выравнивание каждому элементу отдельно*/
}

.policy li:first-child {
  text-align: left;
}

.policy li:nth-child(2) {
  text-align: center;
}

.policy li:last-child {
  text-align: right;
}

.go-button {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 10px;
  margin-left: auto;
  border: none;
  border-radius: 50px;
  background-color: #ff3e79;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

th:first-child,
td:first-child {
  width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
  width: 20%;
}

/* Desktop & Laptop */
@media (min-width: 768px) {
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
}

.top-panel th {
  padding: 16px 24px;
  background: transparent;
  text-align: left;
  color: #7e7e82;
  font-weight: 500;
}

.panel td {
  background: #fff;
  padding: 16px 24px;
}

// У всех td, которые находятся в строках tr,
// кроме :not(...) последнего элемента td, нарисовать нижнюю границу:
.panel tr:not(:last-child) td { 
  border-bottom: 1px solid #eaeaea;
}

.panel tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

.panel tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

.panel tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.panel tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}


/* Mobile */
@media (max-width: 767px) {
  /* скрываю таблицу*/
  table {
    display: none;
  }

  /*карточки товаров*/

  .flex-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    & .slide-data {
      display: flex;
      flex-direction: column;
      gap: 4px;

      span:first-child {
        color: #7e7e82;
        font-size: 14px;
      }

      span:last-child {
        font-size: 14px;
      }
    }
    .slide-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px;
    }
  }

  .price-swiper .swiper-slide {
    height: 220px;
    padding: 15px;
    text-align: left;
    align-items: flex-start;
  }

  .policy {
    flex-direction: column;
    gap: 16px;
  }

  .policy li:first-child {
    text-align: center;
  }

  .policy li:nth-child(2) {
    text-align: center;
  }

  .policy li:last-child {
    text-align: center;
  }
}
