@use 'variables' as *;

// файл переменных во все файлы scss в самый верх

@use 'menu';

@use 'about';

@use 'brands';

@use 'devices';

@use 'price';


@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Bold.woff');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
body * {
  font-family: $font-main;
  color: #1b1c21;
}

.page {
  display: flex;
  min-height: 100vh;
}


#clickbutton {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 20px 0;
  } 






