@use 'variables' as *;

// файл переменных во все файлы scss в самый верх


@use 'price';

@use 'menu';

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('ref/TTLakes-Bold.woff');
    font-weight: 700;
}

